body {
    border-top: solid 1px #1a19198a;
    margin: 0;
}

#container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5f6368;
}

#header {
    margin-top: 2%;
    height: 10%;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5f6368;
    padding: 2px 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0000008a;
}

#search-area {
    height: 20px;
    width: 700px;
    margin: 0 auto;
    position: absolute;
    top: 33%;
    left: 30%;
}

#search {
    width: 580px;
    height: 40px;
    border:solid 2px #d6d6d6c2;
    border-radius: 25px;
    padding-top: 10px;
}

#search:hover {
    box-shadow: 0px 3px 5px 1px rgba(158, 158, 158, 0.664);
}

.section {
    height: 30%;
}

.button-google {
    position: absolute;
    top: 41%;
    left: 39%;
    border: none;
    width: 150px;
    height: 30px;
    color: #5f6368;
}

.button-lucky {
    position: absolute;
    top: 41%;
    left: 50%;
    border: none;
    width: 150px;
    height: 30px;
    color: #5f6368;
}

#footer {
    height: 3%;
    width: 100%;
    border-top: solid 1px #d6d6d6c2;
    padding-top: 8px;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
}

#text-input {
    width: 480px;
    height: 25px;
    border: none;
}

#text-input:focus{
    border:solid 1px transparent;
}

#singin {
    width: 70px;
    height: 30px;
    background-color: #4685F0;
    border-width: 0;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}